<strong> Olá {{ name }}, </strong>
<p>Seu cadastro foi realizado com sucesso:</p>
<p>
  <strong>Nome: </strong> {{ name }} <br />
  <br />
  <small>
    Clique aqui para ativar seu cadastro:
  </small>

</p>
