<strong> Olá {{ name }}, </strong>
<p>Você ou algum requisitou a troca da senha do seu cadastro:</p>
<p>
  Se foi você, clique aqui:
  <a href="#">Link para recuperar a senha</a>
  <br />
  <small>
    Se não foi você, recomendamos que você altere sua senha o quanto antes.
  </small>

</p>
